:root {
  --bg: rgb(19, 16, 24);
  --text-color__primary: #fff;
  --text-color__secondary: slategray;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg);
  color: var(--text-color__primary);
  font-family: sans-serif;
}

header {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
p {
  text-align: center;
}

p {
  font-size: large;
  color: slategray;
}

.url {
  position: relative;
  display: inline-block;
}

.url::after {
  content: url("../images/underline.svg");
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 100%;
}

.giphy-credit a {
  text-decoration: none;
  font-size: small;
  color: rgba(112, 128, 144, 0.5);
}
